<section id="about" class="about container">
    <h3 class="sectionTitle">Що таке EVA?</h3>
    <div class="aboutWrap">
      <p class="aboutText">
        EVA матеріал – це словосполучення, що наразі ми дуже часто зустрічаємо у побуті. Наше взуття має або підошву, або устілку, або повністю виготовлено з EVA, діти грають величезними пазлами, що також виготовлені з EVA. Спортивні килимки, покриття для підлоги, сучасні плавальні дошки, ущільнювачі в сумках та рюкзаках, матеріали для гідро та теплоізоляції – в усьому використовуються EVA матеріали. 
      </p>
      <p class="aboutText">
        Так що ж це таке? EVA матеріал – це спінений сополімер, комбінація двох різних пластиків – вінілацетату та етилену, залежно від співвідношення цих двох компонентів змінюються характеристики EVA матеріалу. Чим менша кількість вінілацетату, тим тендітніший і схильний до руйнування виходить матеріал. 
      </p>
      <p class="aboutText">  
        Історія виникнення EVA почалась ще 19 столітті, коли люди дізнались про синтетичні полімери, з яких можна було створювати каучук. Згодом промислова революція викликала потребу в нових матеріалах поряд із новою галуззю промислової хімії. Так у 1929 році Эдвард Артур Мерфи та Ерік Оуен, хімікі, що працювали у Dunlop Rubbe, вирішили спробувати просто збити латекс майже так само, як кулінари готують крем для бісквіту. У результаті була створена перша латексна піна. Незабаром піну почали робити з інших полімерів і світ побачив  поролон, пінопласт та інші матеріали.
      </p>
    </div>
  </section>