<section class="advantages container">
    <h3 id="advantages" class="sectionTitle">В чому переваги використання автокилимків з EVA?</h3>
    <ul class="advantagesList">
      <li class="advantagesItem">
        <h4 class="advantagesTitle">Чистота салону</h4>
        <img class="advantagesImg" src="./images/mats/cleanness.jpg" alt="Чистота салону">
        <p class="advantagesDescription">Завдяки ромбовидній структурі весь бруд та вода залишається на килимку.</p>
      </li>
      <li class="advantagesItem">
        <h4 class="advantagesTitle">Легка вага</h4>
        <img class="advantagesImg" src="./images/mats/light.jpg" alt="Легка вага">
        <p class="advantagesDescription">Мають дуже малу вагу, в 5 разів легше за звичайні гумові килимки.</p>
      </li>
      <li class="advantagesItem">
        <h4 class="advantagesTitle">Легкий догляд</h4>
        <img class="advantagesImg" src="./images/mats/gutting.jpg" alt="Легкий догляд">
        <p class="advantagesDescription">Не потребують частого й ретельного чищення, легко витрушуються та миються.</p>
      </li>
      <li class="advantagesItem">
        <h4 class="advantagesTitle">Надійна фіксація</h4>
        <img class="advantagesImg" src="./images/mats/fastening.jpg" alt="Надійна фіксація">
        <p class="advantagesDescription">Завдяки оригінальному кріпленню або "кріпленню-липучці" не з'їжджають.</p>
      </li>
      <li class="advantagesItem">
        <h4 class="advantagesTitle">Індивідуальне виготовлення</h4>
        <img class="advantagesImg" src="./images/mats/sewing.jpg" alt="Індивідуальне виготовлення">
        <p class="advantagesDescription">Килимки виготовляються виключно під замовлення з урахуванням Ваших побажань.</p>
      </li>
      <li class="advantagesItem">
        <h4 class="advantagesTitle">Різноманіття кольорів</h4>
        <img class="advantagesImg" src="./images/mats/colors.jpg" alt="Різноманіття кольорів">
        <p class="advantagesDescription">Обираючи колір матеріалу та канту Ви робите салон авто елегантним або оригінальним.</p>
      </li>
    </ul>
  </section>