<section id="contacts" class="contacts container">
    <h3 class="sectionTitle">Як нас знайти?</h3>
    <div class="contactsWrap">
      <div class="addresssWrap">
        <div class="contactsItems">
          <h4 class="contactsTitle">Наша адреса:</h4>
          <p>м.Дніпро, вул.Сонячна Набережна <br> (колишня вул.Малиновського), буд.6</p>
          <a class="openMap" target="_blank" href="https://maps.app.goo.gl/Gw8b6kFNoraAky5u8">Відкрити карту</a>
        </div>
        <div class="contactsItems">
          <h4 class="contactsTitle">Контактная інформація:</h4>
          <a href="tel:+380634265030" class="contactsLink">+38 063 426-50-30</a>
          <a href="tel:+380675239272" class="contactsLink">+38 067 523-92-72</a>
          <a href="email:artsabelli@gmail.com" class="contactsLink">artsabelli@gmail.com</a>
        </div>
        <div class="contactsItems">
          <h4 class="contactsTitle">Режим роботи:</h4>
          <p>пн.-пт. з 09:00 до 17:00</p>
          <p>субота, неділя – вихідні дні</p>
        </div>
      </div>
      <div>
        <iframe class="map"
        src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d1530.449541331904!2d35.06418344577234!3d48.48222951906431!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x40dbe3144c1533d1%3A0x75075c48e205c5f8!2zRXZhIGNhci1tYXQsINCy0YPQuy7QodC-0L3Rj9GH0L3QsCDQndCw0LHQtdGA0LXQttC90LAsINCx0YPQtC42LCDQlNC90ZbQv9GA0L4sINCU0L3RltC_0YDQvtC_0LXRgtGA0L7QstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCA0OTA4MQ!3m2!1d48.481991199999996!2d35.0662897!5e0!3m2!1sru!2sua!4v1697704443139!5m2!1sru!2sua" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
      </div>
    </div>
  </section>