<header>
    <nav class="navWrap">
      <img class="logo" src="./images/svg/logo.svg" alt="logo">
      <ul class="navList" >
        <li class="navItem">
          <a href="#home" class="navLink link">Головна</a>
        </li>
        <li class="navItem">
          <a href="#about" class="navLink link">Про Eva</a>
        </li>
        <li class="navItem">
          <a href="#advantages" class="navLink link">Переваги</a>
        </li>
        <li class="navItem">
          <a href="#gallery" class="navLink link">Галарея</a>
        </li>
        <li class="navItem">
          <a href="#price" class="navLink link">Ціни</a>
        </li>
        <li class="navItem">
          <a href="#contacts" class="navLink link">Контакти</a>
        </li>
      </ul>
      <div class="telWrap">
        <img class="telImg" src="./images/svg/old-typical-phone.svg" alt="phone">
        <div class="telNumbers">
          <a href="tel:+380634265030" class="navLink">+38 063 426-50-30</a>
          <a href="tel:+380675239272" class="navLink second">+38 067 523-92-72</a>
        </div>
      </div>
      <div class="mobileMenu">
        <button type="button" name="modalMenuOpen" class="modalMenuOpen">
          <svg class="iconMenuOpen" width="20" height="20">
            <use href="./images/svg/symbol-defs.svg#icon-menu">
            </use>
          </svg>
        </button>
      </div>
    </nav>
    <div class="mobileMenuWrap hide">
      <button type="button" name="modalClose" class="modalClose">
        <svg class="iconClose" width="20" height="20">
          <use href="./images/svg/symbol-defs.svg#icon-close">
          </use>
        </svg>
      </button>
      <ul class="navMobList" >
        <li class="navMobItem">
          <a href="#home" class="navMobLink link">Головна</a>
        </li>
        <li class="navMobItem">
          <a href="#about" class="navMobLink link">Про Eva</a>
        </li>
        <li class="navMobItem">
          <a href="#advantages" class="navMobLink link">Переваги</a>
        </li>
        <li class="navMobItem">
          <a href="#gallery" class="navMobLink link">Галарея</a>
        </li>
        <li class="navMobItem">
          <a href="#price" class="navMobLink link">Ціни</a>
        </li>
        <li class="navMobItem">
          <a href="#contacts" class="navMobLink link">Контакти</a>
        </li>
      </ul>
      <div class="telMobWrap">
        <img class="telMobImg" src="./images/svg/old-typical-phone.svg" alt="phone">
        <div class="telMobNumbers">
          <a href="tel:+380634265030" class="navMobLink">+38 063 426-50-30</a>
          <a href="tel:+380675239272" class="navMobLink secondMob">+38 067 523-92-72</a>
        </div>
      </div>
    </div>
  </header>