<section id="price" class="price container">
    <h3 class="sectionTitle">Скільки це коштує?</h3>
    <h4 class="attention">Зверніть увагу! Ми виготовляємо килимки тільки під замовлення та тільки у м.Дніпро, ми не відправляємо килимки в інші міста.</h4>
    <div class="priceWrap">
      <ul class="priceLict">
        <li class="priceItem complect">
          <h4 class="priceModel">Комплект</h4>
          <img class="priceImg" src="./images/mats/complect.jpg" alt="Комплект">
          <p class="price" id="complectPrice">1 450 грн</p>
          <button name="priceBtnComplect" class="priceBtn" value="complect">Замовити</button>
        </li>
        <li class="priceItem complect">
          <h4 class="priceModel">Комплект передній</h4>
          <img class="priceImg" src="./images/mats/front.jpg" alt="Комплект передній">
          <p class="price" id="frontPrice">950 грн</p>
          <button name="priceBtnFront" class="priceBtn" value="front">Замовити</button>
        </li>
        <li class="priceItem">
          <h4 class="priceModel">Переднє водійське</h4>
          <img class="priceImg" src="./images/mats/driver.jpg" alt="Переднє водійське">
          <p class="price" id="driverPrice">500 грн</p>
          <button name="priceBtnDriver" class="priceBtn" value="driver">Замовити</button>
        </li>
        <li class="priceItem complect">
          <h4 class="priceModel">Багажник</h4>
          <img class="priceImg" src="./images/mats/trunk.jpg" alt="Багажник">
          <p class="price" id="trunkPrice">від 950 до 2 500 грн</p>
          <button name="priceBtnTrunk" class="priceBtn" value="trunk">Замовити</button>
        </li>
        <li class="priceItem">
          <h4 class="priceModel">Переднє пасажирське</h4>
          <img class="priceImg" src="./images/mats/passanger.jpg" alt="Переднє пасажирське">
          <p class="price" id="passangerPrice">500 грн</p>
          <button name="priceBtnPassanger" class="priceBtn" value="passanger">Замовити</button>
        </li>
      </ul>
    </div>
  </section>