<section id="gallery" class="slider container">
    <h3 class="sectionTitle sliderTitle">Як виглядає салон авто з EVA килимками?</h3>
    <div class="slideshow-container">
      <div class="mySlides fade">
        <img class="sliderImg" alt="Салон авто з килимками EVA" src="./images/mats/orange.jpg" style="width:100%">
      </div>
      <div class="mySlides fade">
        <img class="sliderImg" alt="Салон авто з килимками EVA" src="./images/mats/red.jpg" style="width:100%">
      </div>
      <div class="mySlides fade">
        <img class="sliderImg" alt="Салон авто з килимками EVA" src="./images/mats/begue.jpg" style="width:100%">
      </div>
      <div class="mySlides fade">
        <img class="sliderImg" alt="Салон авто з килимками EVA" src="./images/mats/blue.jpg" style="width:100%">
      </div>
      <div class="mySlides fade">
        <img class="sliderImg" alt="Салон авто з килимками EVA" src="./images/mats/brown.jpg" style="width:100%">
      </div>
    </div>
  </section>