.advantagesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;

}
.advantagesItem {
    border-radius: 12px;
    background-color: var(--white-color);
    box-shadow: var(--shadow);
    max-width: 350px;
    @media screen and (min-width: 768px) {
        width: calc((100% - 30px)/2);
    }
}

.advantagesImg {
    width: 100%;
}

.advantagesTitle {
    padding: 20px 10px;
}
.advantagesDescription {
    padding: 20px 10px;
}