.advantagesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;

}
.advantagesItem {
    border-radius: 12px;
    background-color: var(--white-color);
    box-shadow: var(--shadow);
    max-width: 260px;
    @media screen and (min-width: 480px) {
        max-width: 350px;
    }
}

.advantagesImg {
    width: 100%;
    height: auto;
    @media screen and (min-width: 280px) {
        width: 260px;
        height: 208px;
    }
    @media screen and (min-width: 480px) {
        width: 350px;
        height: 280px;
    }
}

.advantagesTitle {
    padding: 20px 10px;
}
.advantagesDescription {
    padding: 20px 10px;
}