.footerWrap {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.footerText {
    color: var(--white-color);
    font-size: 14px;
        
    @media screen and (min-width: 480px) {
    font-size: 18px;
    }
}

.footerPhone {
    color: var(--white-color);
}
