.popup, .popupError {

    background-color: var(--white-color);
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    border-radius: 14px;
    box-shadow: var(--shadow);
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (min-width: 480px) {
        padding: 40px;
    }
}
.popup {
    width: 260px;
    @media screen and (min-width: 480px) {
        width: 300px;
    }
    @media screen and (min-width: 768px) {
        width: 400px;
    }
    @media screen and (min-width: 1200px) {
        width: 400px;
    }
}
.popupError {
    width: 260px;
    @media screen and (min-width: 480px) {
        width: 300px;
    }
    @media screen and (min-width: 768px) {
        width: 500px;
    }
    @media screen and (min-width: 1200px) {
        width: 650px;
    }
}

.popupText {
    text-align: center;
    margin-bottom: 10px;
}

