
.mySlides {
    display: none;
}

.sliderTitle {
    margin-bottom: 30px;
}
.sliderImg {
    vertical-align: middle;
    border-radius: 12px;
    border: 1px solid var(--additional-color);
}


.slideshow-container {
    border-radius: 12px;
    max-width: 100%;
    margin: auto;
    box-shadow: var(--shadow);
}

.active {
    background-color: var(--main-color);
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
